version: '2'
services:

  db:
    image: mysql:5.7.10
    container_name: simply_mysql
    #ports:
      #- "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=simply
    volumes:
      - "../../data/mysql:/var/lib/mysql"
      - "./conf/mysql:/etc/mysql/conf.d"

  mongo:
      image: mongo:3.4.5
      container_name: simply_mongo
      volumes:
        - "../../data/mongo:/data/db"

  web:
    image: tomcat:8.5-alpine
    container_name: simply_tomcat
    environment:
     - APP_ENV=production
    volumes:
      - ./conf/prod:/root/grails/conf
      - ./conf/bin/setenv.sh:/usr/local/tomcat/bin/setenv.sh
      - ./webapps:/usr/local/tomcat/webapps
      - ./logs:/usr/local/tomcat/logs
      - ./static:/assets
    depends_on:
     - db
     - mongo
    #ports:
     #- "8080:8080"

  nginx:
     image: nginx:alpine
     container_name: simply_nginx
     ports:
      - "80:80"
     volumes:
       - ./conf/nginx/logs:/var/log/nginx
       - ./conf/nginx:/etc/nginx/conf.d
       - ./static:/assets
     depends_on:
       - web
